@model leave_management.Models.CreateLeaveAllocationVMClass

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListLeaveTypeVMClass) {
        <tr>
            <td>
                @item.Name
            </td>

            <td>
                @Html.ActionLink("Allocate to Employee", "SetLEave", new {id = item.LeaveTypeID })
            </td>

        </tr>
}
    </tbody>
</table>
